[Unit]
Description=Nathan's Minecraft VM Starter Daemon

[Service]
Type=simple
User=root
ExecStart=/usr/local/sbin/nathan-start-201.sh
Restart=on-failure

[Install]
WantedBy=default.target